<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>成绩</title>
</head>
<body>
<h2>成绩列表</h2>

    {% for student in grades %}
        <table border="1">
         <thead>
    <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>学年</th>
        <th>课程号</th>
        <th>课程名</th>
        <th>学分</th>
        <th>成绩</th>
        <th>授课教师</th>
    </tr>
    </thead>
        <tbody>
        {% for sc in student %}
            <tr>
                <td>{{ sc.student_id }}</td>
                <td>{{ sc.student_id.student_name }}</td>
                <td>{{ sc.school_year }}</td>
                <td>{{ sc.course_id }}</td>
                <td>{{ sc.course_id.course_name }}</td>
                <td>{{ sc.course_id.credit }}</td>
                <td>{{ sc.grade }}</td>
                <td>{{ sc.teacher_id.teacher_name }}</td>
            </tr>
        {% endfor %}
         </tbody>
        <br>
    {% endfor %}

</table>
<input type="button" value="Back" onclick="history.back()"/>
</body>
</html>