

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>学生成绩数据库管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="http://getsoloapp.com/css/styles.css" rel="stylesheet" type="text/css" media="all"/>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body data-page="home" data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)" >

<div class="main-container">



        <section id="hero" class="cover cover-9">
            <div class="background"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1 id="logo">Database</h1>

                        <p class="lead">
                            2013211304班<br>xx小组
                        </p>
                        <a class="btn btn--primary vpe" href="admin/">
								<span class="btn__text">
									后台管理系统
								</span>
                        </a>
                        <a class="btn vpe btn--secondary" href="login/">
								<span class="btn__text">
									<i class="socicon-apple"></i> 进入登陆界面
								</span>
                        </a>
                        <div id="main-screenshot" class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                            <img alt="基于python，Django，Bootstrap，Jquery的学生数据库管理系统">
                        </div>
                    </div>
                </div>

            </div>
        </section>

<footer class="footer-3 bg--white text-center-xs">
    <div class="col-sm-6 text-center">
        &nbsp;
    </div>
    <div class="col-sm-3 text-right text-center-xs">
        <ul class="social-list">
            <li class="vpe">
                <a href="#"><i class="socicon-twitter"></i></a>
            </li>

        </ul><span class="type--fine-print">© Copyright <span class="update-year">2016</span>.</span>
    </div>
</footer>

</div>



<script src="http://getsoloapp.com/js/jquery-2.1.4.min.js"></script>
<script src="http://getsoloapp.com/js/owl.carousel.min.js"></script>
<script src="http://getsoloapp.com/js/scrollreveal.min.js"></script>
<script src="http://getsoloapp.com/js/parallax.js"></script>
<script src="http://getsoloapp.com/js/scripts.js"></script>

<img src="static/images/2.JPG">

</body>
</html>