{% extends "base.html" %}
{% block js %}
        <script type='text/javascript'>
        function input() {
            if (document.input.student_id.value == "") {
                alert("学生学号不能为空");
                return;
            }
            else
                document.input.submit();
        }
    </script>
{% endblock %}
{% block title %}
学生成绩管理系统 - 插入学生成绩
{% endblock %}
{%  block main-content %}
<div>
<form method="post" name="input" action="{% url 'insert_grade_action' teacher_id %}" onsubmit="return input();">
    {% csrf_token %}
    <br>
    学生学号: <select name="student_id">
    {% for stu in student_set %}
             <option value={{ stu.student_id }}>{{ stu.student_id }}</option>
    {% endfor %}
            </select>
    <br>
     课程名    : <select name="course_name">
    {% for course in course_set %}
             <option value={{ course.course_name }}>{{ course.course_name }}</option>
    {% endfor %}
            </select>
    <br>
    学生成绩：<input type="text" name="grade"/><br>

    <input type="submit" value="确定"/>
    </form>
<br>
</div>
<div>{{ mention }}</div>
<input type="button" value="Back" onclick="history.back()"/>
{%  endblock %}