

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{%  block title %}{%  endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="http://getsoloapp.com/css/styles.css" rel="stylesheet" type="text/css" media="all"/>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)"  style="background-color:white">

<div class="main-container" style="background-color:white">
    <div class="bg--secondary license" style="background-color:white">
    <div class="container" style="background-color:white">


        <div class="row first">


            <div class="col-lg-8 col-lg-offset-2 ">

                {% block main_content %}{%  endblock %}
            </div>


        </div>
    </div>
</div>


</div>



<script src="http://getsoloapp.com/js/jquery-2.1.4.min.js"></script>
<script src="http://getsoloapp.com/js/owl.carousel.min.js"></script>
<script src="http://getsoloapp.com/js/scrollreveal.min.js"></script>
<script src="http://getsoloapp.com/js/parallax.js"></script>
<script src="http://getsoloapp.com/js/scripts.js"></script>


</body>
</html>
