<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>成绩</title>
</head>
<body>
<h2>{{ student.student_name }}的成绩列表</h2>
<table border="1">
    <thead>
    <tr>
        <th>学年</th>
        <th>课程号</th>
        <th>课程名</th>
        <th>学分</th>
        <th>成绩</th>
        <th>任课教师</th>
    </tr>
    </thead>
    <tbody>
    {% for sc in courseSet %}
        <tr>
            <td>{{ sc.school_year }}</td>
            <td>{{ sc.course_id.course_id }}</td>
            <td>{{ sc.course_name }}</td>
            <td>{{ sc.course_credit }}</td>
            <td>{{ sc.grade }}</td>
            <td>{{ sc.teacher_id.teacher_name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<input type="button" value="Back" onclick="history.back()"/>
</body>
</html>