<!DOCTYPE html>
<html>
<head>
    <title>学生成绩管理系统 - 学生</title>
    <link href="https://d340syr2dan8gj.cloudfront.net/assets/application-65a009b5bdf7f2ca0906dae6a2f01be1.css"
          media="screen" rel="stylesheet"/>
<style>
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
    font-size:270%;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}
</style>
</head>
<body class="landing ">

  <div class="landing-section-border">
      <div class="landing-section landing-section-compare">
        <div class="row">
          <h2> Welcome {{ stu.student_name }} !</h2>
        </div>
      </div>
    </div>
<footer>
    <div class="footer-top">
        <div class="container">

            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <i class="glyphicon glyphicon-heart"></i>
                    <a href="{% url 'get_student_info' stu.student_id %}">
                        <strong>基本信息</strong>
                        <p>
                            <small>The basic information</small>
                        </p>
                    </a>
                </div>


                <div class="col-xs-6 col-md-3">
                    <i class="glyphicon glyphicon-search"></i>
                    <h4>Community</h4>
                        <a href="{% url 'get_student_grade' stu.student_id %}">
                            <strong>查询成绩</strong>
                        <p>
                            <small>Single student achievement query</small>
                        </p>
                    </a>
                </div>

                <div class="col-xs-6 col-md-3">
                    <i class="glyphicon glyphicon-pencil"></i>
                    <h4>Community</h4>
                    <a href="{% url 'input_student_new_password' stu.student_id %}"><strong>修改密码</strong>
                        <p>
                            <small>Change the password</small>
                        </p>
                    </a>
                </div>

                <div class="col-xs-6 col-md-3">
                    <i class="glyphicon glyphicon-share-alt"></i>
                    <h4>Connect</h4>
                    <a href="{% url 'home' %}"><strong>退出登录</strong>
                        <p>
                            <small>Log out</small>
                        </p>
                    </a>
                </div>

            </div>

        </div>
    </div>
</footer>

</body>
</html>
