<!DOCTYPE html>
<html>
<head>


    <title>Pixelapse - Visual version control for designers</title>
    <meta content="authenticity_token" name="csrf-param"/>
    <meta content="6RgHbII3PYxrScTXfkIghKVKQ0TvmjfMPWcn3LJ6jqA=" name="csrf-token"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <meta name="viewport" content="width=480px; initial-scale=0.5; maximum-scale=1.0;"/>

    <link href="https://d340syr2dan8gj.cloudfront.net/assets/application-65a009b5bdf7f2ca0906dae6a2f01be1.css"
          media="screen" rel="stylesheet"/>


</head>
<body class="landing ">

  <div class="landing-section-border">
      <div class="landing-section landing-section-compare">
        <div class="row">
          <h2>Try it out</h2>
          <p>
            Sign up for a free personal account. No strings attached.
          </p>
        </div>
      </div>
    </div>
<footer>
    <div class="footer-top">
        <div class="container">

            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <i class="icon-globe icon-28"></i>
                    <a href="{% url 'get_teacher_info' tea.teacher_id %}">
                        <strong>基本信息</strong>
                        <p>
                            <small>Explore public open source design projects</small>
                        </p>
                    </a>
                </div>


                <div class="col-xs-6 col-md-3">
                    <i class="icon-globe icon-28"></i>
                    <h4>Community</h4>
                    <a href="/explore">
                        <strong>查看学生信息</strong>
                        <p>
                            <small>Explore public open source design projects</small>
                        </p>
                    </a>
                </div>

                <div class="col-xs-6 col-md-3">
                    <i class="icon-toolkit icon-28"></i>
                    <h4>Resources</h4>
                    <a href="https://toolbelt.pixelapse.com">
                        <strong>The Design Toolbelt</strong>
                        <p>
                            <small>Image Inspector, Color Picker, Lorem Ipsum, and more</small>
                        </p>
                    </a>
                </div>

                <div class="col-xs-6 col-md-3">
                    <i class="icon-broadcast icon-28"></i>
                    <h4>Connect</h4>
                    <a href="/contact">
                        <strong>Say hello!</strong>
                    </a>
                    <a href="http://blog.pixelapse.com">
                        <strong>Pixelapse Blog</strong>
                    </a>

                </div>

            </div>

        </div>
    </div>
<div class="footer-top">
        <div class="container">

            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <i class="icon-globe icon-28"></i>
                    <a href="{% url 'get_teacher_info' tea.teacher_id %}">
                        <strong>基本信息</strong>
                        <p>
                            <small>Explore public open source design projects</small>
                        </p>
                    </a>
                </div>


                <div class="col-xs-6 col-md-3">
                    <i class="icon-globe icon-28"></i>
                    <h4>Community</h4>
                    <a href="/explore">
                        <strong>查看学生信息</strong>
                        <p>
                            <small>Explore public open source design projects</small>
                        </p>
                    </a>
                </div>

                <div class="col-xs-6 col-md-3">
                    <i class="icon-toolkit icon-28"></i>
                    <h4>Resources</h4>
                    <a href="https://toolbelt.pixelapse.com">
                        <strong>The Design Toolbelt</strong>
                        <p>
                            <small>Image Inspector, Color Picker, Lorem Ipsum, and more</small>
                        </p>
                    </a>
                </div>

                <div class="col-xs-6 col-md-3">
                    <i class="icon-broadcast icon-28"></i>
                    <h4>Connect</h4>
                    <a href="/contact">
                        <strong>Say hello!</strong>
                    </a>
                    <a href="http://blog.pixelapse.com">
                        <strong>Pixelapse Blog</strong>
                    </a>

                </div>

            </div>

        </div>
    </div>
</footer>

</body>
</html>
